h1, h2, p {
  font-family: Helvetica, sans-serif;
}

a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  line-height: 32px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8552;
  color: white;
  text-align: center;
  padding: 35px;
    h3 {
      font-size: 28px;
      font-family: Helvetica, sans-serif;
    }
}

.home-container {
  padding: 16px;
}

.navbar {
  padding: 16px;
}
