h1, h2, p {
  font-family: Helvetica, sans-serif;
}

a {
  font-family: Helvetica, sans-serif;
  text-decoration: none!important;
  color: black!important;
}

ul {
  list-style-type: none;
  line-height: 32px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8552;
  color: white;
  text-align: center;
  padding: 35px;
    h3 {
      font-size: 28px;
      font-family: Helvetica, sans-serif;
    }
}

hr {
  border-bottom: solid 3px #FF8552!important;
}

.home-container {
  padding: 16px;
  height: 70vh;
    a {
      font-size: 18px;
      line-height: 50px;
    }
}

.navbar-links {
  padding: 32px;
  text-align: center;
  background-color: rgb(40, 40, 40);
    a {
      color: white!important;
      font-size: 17px;
    }
}

.btn-cart {
  background-color: #FF8552;
  padding: 8px 16px;
  border-radius: 16px;
}

.collection-title {
  padding: 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 22px;
  box-shadow: 0 0 5px rgba(40, 40, 40, .3);
    img {
      width: 200px;
      height: 150px;
    }
    a {
      font-size: 18px;
      margin-bottom: 8px;
    }
}

.paginate {
  padding: 16px;
  font-size: 18px;
}

.collection-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.products {
  padding: 16px;

}

.cart {
  padding: 16px;

}
